block variables

doctype html
html
    head
        title= title
        meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/scripts/bundle.js')
    body
        #banner(style="background-image: url('" + banner_image + "');")
            p= banner_title
            a.arrow(href='#anchor') ↓
        #page
            #main
                block main
                    #nav
                        div
                            #nav-title
                                a(href='/')
                                    span.jon Jon
                                    span.hewer Hewer
                                    span.photography Photography
                                button#nav-toggle
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                            ul#nav-menu
                                each album in site.albums
                                    li
                                        a(class=(page===album.url ? 'selected' : ''), href=album.url) #{album.name}
                    a#anchor
            #footer
                block footer
                    #footer-index
                        ul
                            li.first Albums
                            each album in site.albums
                                li
                                    a(href=album.url) #{album.name}
                        ul
                            li.first Social
                            li
                                a(href="https://500px.com/jonhewer") 500px
                            li
                                a(href="https://www.instagram.com/jonhewer") Instagram
                            li
                                a(href="mailto:jonhewer@gmail.com") Contact
                    #footer-footnote
                        p
                            a(href='/') Jon Hewer Photography
                        p Website created with ♥ using #[a(href="https://github.com/jgrh/lerret") Lerret].
                        p Copyright © #{(new Date()).getFullYear()}.
