extends layout

block main
    #photo-nav
        p= image.next
        a#previous(class=helpers.hasPrevious(image, album) ? undefined : 'disabled', href=helpers.hasPrevious(image, album) ? helpers.previous(image, album).url : undefined) &#xe765;
        a#next(class=helpers.hasNext(image, album) ? undefined : 'disabled', href=helpers.hasNext(image, album) ? helpers.next(image, album).url : undefined) &#xe766;
    #photo-container
        img#photo(class="hidden", src="1000.jpg")
block footer
    #caption
        #title #{image.name}
        #date #{image.year}
